// Copyright 2022 DolphiniOS Project
// SPDX-License-Identifier: GPL-2.0-or-later

#include "Project/Config/BundleIdentifier.xcconfig"
#include "Project/Config/NonJailbroken.xcconfig"
#include "Project/Config/DevelopmentTeam.xcconfig"
#include "Project/Config/Release.xcconfig"
#include "Project/Config/Common.xcconfig"
#include "Project/Config/CoreVersion.xcconfig"
#include "Project/Config/PreprocessorCombine.xcconfig"
