// Copyright 2022 DolphiniOS Project
// SPDX-License-Identifier: GPL-2.0-or-later

// It's impossible to append to a property when combining multiple xcconfigs together.
// Therefore, this file combines properties set in other files to make a correct
// GCC_PREPROCESSOR_DEFINITIONS for the current configuration.

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(DOL_PREPROCESSOR_BUILD_TARGET) $(DOL_PREPROCESSOR_NONJAILBROKEN) $(DOL_PREPROCESSOR_RELEASE_CHANNEL)

// Swift doesn't use GCC_PREPROCESSOR_DEFINITIONS. We will define its replacement property,
// SWIFT_ACTIVE_COMPILATION_CONDITIONS, separately.

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(DOL_SWIFT_CONDITION_BUILD_TARGET) $(DOL_SWIFT_CONDITION_NONJAILBROKEN) $(DOL_SWIFT_CONDITION_RELEASE_CHANNEL)
